body {
  background-color: rgb(185, 189, 227);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 32px;
}

h2 {
  margin: 0 0 5px;
  font-size: 27px;
}

select {
  display: black;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background-color: white;
  padding: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.city {
  display: flex;
  margin: 10px 0 10px;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 27px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: rgb(87, 81, 81);
}
